.success, .error {
    /* height: 38px; */
    padding: 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    color: white;
}

.success {
    background-color: MEDIUMSEAGREEN;
}

.error {
    background-color: LIGHTCORAL;
}

.delete {
    color: white;
    text-decoration: none;
    background-color: LIGHTCORAL;
    padding: 3px 5px;
}

.delete:hover, .delete:active, .delete:focus {
    color: white;
    background-color: INDIANRED;
}

div input[type=submit] {
    background-color: lavender;
}